In [1]:
import matplotlib.pyplot as plt
import numpy as np
import os
import pandas as pd
from functools import reduce

from utils import *
import graphing

In [2]:
events = pd.read_csv("datasets/events_England.csv")
teams = pd.read_csv("datasets/teams.csv")
matches = pd.read_csv("datasets/games.csv")

In [3]:
teams[teams.name.str.contains("Liverpool")]

,city,name,wyId,officialName,area,type
77,Liverpool,Liverpool,1612,Liverpool FC,"{'name': 'England', 'id': '0', 'alpha3code': '...",club

In [4]:
matches[matches.game_id==2499943]

,Unnamed: 0,game_id,competition_id,season_id,game_date,game_day,home_team_id,away_team_id
151,151,2499943,364,181150,2018-01-14 16:00:00,23,1612,1625

In [5]:
teams.index = teams.wyId

In [29]:
match = events.loc[events.matchId==2499943, :].copy()
match.shape

(1876, 17)

In [30]:
names = teams.name.to_dict()
match["team"] = match.teamId.map(names)

In [31]:
tags_na = match.tagsList.isna()
match.loc[tags_na, "tagsList"] = "[]"

In [32]:
match['successful_action'] = None
success = match.tagsList.str.contains("1801")
fail = match.tagsList.str.contains("1802")
match.loc[success, 'successful_action'] = True
match.loc[fail, 'successful_action'] = False

In [33]:
match.loc[:,"possession"] = None

In [34]:
successful_pass = (match.eventName == "Pass") & (match.successful_action == True)
match.loc[successful_pass, 'possession'] = match[successful_pass].team

In [35]:
unsuccessful_pass = (match.eventName == "Pass") & (match.successful_action == False)
match.loc[unsuccessful_pass, 'possession'] ="Turnover"

In [36]:
won_duels = (match.eventName=="Duel") & (match.successful_action == True)
match.loc[won_duels, 'possession'] = match.loc[won_duels, 'team']

In [38]:
unsuccessful_clearances = (match.subEventName == "Clearance") & (match.successful_action == False)
match.loc[unsuccessful_clearances, "possession"] = "Turnover"

In [39]:
restarts = match.eventName == 'Free Kick'
match.loc[restarts, 'possession'] = match.loc[restarts, 'team']

In [40]:
match['time'] = (match.eventSec.astype(int)//60).astype(str)+":"+(match.eventSec%60).astype("int").astype(str)

In [41]:
match.possession = match.possession.ffill()

In [42]:
match.eventId

378660    8
378661    8
378662    8
378663    8
378664    8
         ..
380531    3
380532    1
380533    1
380534    8
380535    8
Name: eventId, Length: 1876, dtype: int64

In [43]:
match.eventId.shift(-1) == match.eventId

378660     True
378661     True
378662     True
378663     True
378664    False
          ...
380531    False
380532     True
380533    False
380534     True
380535    False
Name: eventId, Length: 1876, dtype: bool

In [44]:
new_phases = match.possession

In [45]:
match.time.shift(1)

378660      NaN
378661      0:2
378662      0:6
378663     0:10
378664     0:14
          ...
380531    49:10
380532    49:43
380533    49:48
380534    49:48
380535    49:50
Name: time, Length: 1876, dtype: object

In [52]:
new_phases = (match.possession == "Turnover") & (match.possession.shift(-1) != "Turnover")

In [53]:
match = match.copy()

In [54]:
match['new_phase'] = False
match.loc[new_phases, 'new_phase'] = True

In [59]:
match['phase_num'] = match.new_phase.cumsum()

In [64]:
match['p'] = match.phase_num % 7

In [65]:
match.head(50)

,eventId,subEventName,tags,playerId,positions,matchId,eventName,teamId,matchPeriod,eventSec,...,pos_orig_x,pos_dest_y,pos_dest_x,team,successful_action,possession,time,new_phase,phase_num,p
378660,8,Simple pass,[{'id': 1801}],15808,"[{'y': 49, 'x': 49}, {'y': 41, 'x': 31}]",2499943,Pass,1612,1H,2.528085,...,68,16,35,Liverpool,True,Liverpool,0:2,False,0,0
378661,8,Simple pass,[{'id': 1801}],25393,"[{'y': 41, 'x': 31}, {'y': 70, 'x': 34}]",2499943,Pass,1612,1H,6.517082,...,32,7,32,Liverpool,True,Liverpool,0:6,False,0,0
378662,8,Simple pass,[{'id': 1801}],14870,"[{'y': 70, 'x': 34}, {'y': 41, 'x': 28}]",2499943,Pass,1612,1H,10.732865,...,36,7,36,Liverpool,True,Liverpool,0:10,False,0,0
378663,8,Simple pass,[{'id': 1801}],25393,"[{'y': 41, 'x': 28}, {'y': 50, 'x': 7}]",2499943,Pass,1612,1H,14.110714,...,33,5,33,Liverpool,True,Liverpool,0:14,False,0,0
378664,8,Launch,[{'id': 1802}],15175,"[{'y': 50, 'x': 7}, {'y': 9, 'x': 61}]",2499943,Pass,1612,1H,16.587550,...,37,81,63,Liverpool,False,Turnover,0:16,False,0,0
378665,6,NaN,[],25747,"[{'y': 9, 'x': 61}, {'y': 0, 'x': 0}]",2499943,Offside,1612,1H,19.464496,...,71,0,29,Liverpool,None,Turnover,0:19,True,1,1
378666,3,Free Kick,[{'id': 1801}],8277,"[{'y': 89, 'x': 35}, {'y': 74, 'x': 18}]",2499943,Free Kick,1625,1H,35.997091,...,100,0,25,Manchester City,True,Manchester City,0:35,False,1,1
378667,8,Simple pass,[{'id': 1801}],9380,"[{'y': 74, 'x': 18}, {'y': 45, 'x': 12}]",2499943,Pass,1625,1H,38.497027,...,48,89,52,Manchester City,True,Manchester City,0:38,False,1,1
378668,8,Simple pass,[{'id': 1801}],71654,"[{'y': 45, 'x': 12}, {'y': 25, 'x': 14}]",2499943,Pass,1625,1H,41.991763,...,55,11,48,Manchester City,True,Manchester City,0:41,False,1,1
378669,8,Simple pass,[{'id': 1801}],70086,"[{'y': 25, 'x': 14}, {'y': 5, 'x': 12}]",2499943,Pass,1625,1H,43.942339,...,45,84,55,Manchester City,True,Manchester City,0:43,False,1,1
378670,8,Simple pass,[{'id': 1801}],8464,"[{'y': 5, 'x': 12}, {'y': 4, 'x': 28}]",2499943,Pass,1625,1H,46.020291,...,80,0,20,Manchester City,True,Manchester City,0:46,False,1,1
378671,8,Simple pass,[{'id': 1801}],14808,"[{'y': 4, 'x': 28}, {'y': 13, 'x': 28}]",2499943,Pass,1625,1H,47.234505,...,100,0,27,Manchester City,True,Manchester City,0:47,False,1,1
378672,8,Simple pass,[{'id': 1802}],105339,"[{'y': 13, 'x': 28}, {'y': 30, 'x': 36}]",2499943,Pass,1625,1H,48.350557,...,32,5,32,Manchester City,False,Turnover,0:48,False,1,1
378673,7,Touch,[{'id': 1401}],18550,"[{'y': 70, 'x': 64}, {'y': 97, 'x': 69}]",2499943,Others on the ball,1612,1H,49.972329,...,36,6,36,Liverpool,None,Turnover,0:49,True,2,2
378674,8,Simple pass,[{'id': 1801}],14808,"[{'y': 3, 'x': 31}, {'y': 13, 'x': 65}]",2499943,Pass,1625,1H,51.130060,...,30,94,64,Manchester City,True,Manchester City,0:51,False,2,2
378675,1,Ground attacking duel,"[{'id': 701}, {'id': 1802}]",8464,"[{'y': 13, 'x': 65}, {'y': 19, 'x': 68}]",2499943,Duel,1625,1H,53.703886,...,70,0,20,Manchester City,False,Manchester City,0:53,False,2,2
378676,1,Ground defending duel,"[{'id': 703}, {'id': 1801}]",18550,"[{'y': 87, 'x': 35}, {'y': 81, 'x': 32}]",2499943,Duel,1612,1H,54.352695,...,100,100,70,Liverpool,True,Liverpool,0:54,False,2,2
378677,8,Simple pass,[{'id': 1801}],18550,"[{'y': 81, 'x': 32}, {'y': 60, 'x': 28}]",2499943,Pass,1612,1H,56.225691,...,74,18,26,Liverpool,True,Liverpool,0:56,False,2,2
378678,8,Simple pass,[{'id': 1801}],14870,"[{'y': 60, 'x': 28}, {'y': 78, 'x': 37}]",2499943,Pass,1612,1H,56.629731,...,24,82,74,Liverpool,True,Liverpool,0:56,False,2,2
378679,8,Simple pass,[{'id': 1801}],7868,"[{'y': 78, 'x': 37}, {'y': 51, 'x': 30}]",2499943,Pass,1612,1H,58.155702,...,76,79,76,Liverpool,True,Liverpool,0:58,False,2,2
378680,8,Simple pass,[{'id': 1801}],116,"[{'y': 51, 'x': 30}, {'y': 5, 'x': 30}]",2499943,Pass,1612,1H,60.849474,...,66,21,24,Liverpool,True,Liverpool,1:0,False,2,2
378681,8,Simple pass,[{'id': 1801}],222220,"[{'y': 5, 'x': 30}, {'y': 11, 'x': 41}]",2499943,Pass,1612,1H,64.257705,...,34,46,66,Liverpool,True,Liverpool,1:4,False,2,2
378682,1,Ground defending duel,"[{'id': 702}, {'id': 1801}]",38021,"[{'y': 89, 'x': 59}, {'y': 92, 'x': 62}]",2499943,Duel,1625,1H,66.280622,...,57,66,57,Manchester City,True,Manchester City,1:6,False,2,2
378683,1,Ground attacking duel,"[{'id': 702}, {'id': 1801}]",25747,"[{'y': 11, 'x': 41}, {'y': 8, 'x': 38}]",2499943,Duel,1612,1H,66.711185,...,46,27,46,Liverpool,True,Liverpool,1:6,False,2,2
378684,8,Simple pass,[{'id': 1801}],25747,"[{'y': 8, 'x': 38}, {'y': 8, 'x': 34}]",2499943,Pass,1612,1H,67.798891,...,74,7,74,Liverpool,True,Liverpool,1:7,False,2,2
378685,8,Simple pass,[{'id': 1801}],222220,"[{'y': 8, 'x': 34}, {'y': 51, 'x': 31}]",2499943,Pass,1612,1H,70.189301,...,70,64,30,Liverpool,True,Liverpool,1:10,False,2,2
378686,8,Simple pass,[{'id': 1801}],18550,"[{'y': 51, 'x': 31}, {'y': 66, 'x': 44}]",2499943,Pass,1612,1H,73.626442,...,23,95,23,Liverpool,True,Liverpool,1:13,False,2,2
378687,8,Simple pass,[{'id': 1801}],7868,"[{'y': 66, 'x': 44}, {'y': 85, 'x': 39}]",2499943,Pass,1612,1H,74.789153,...,39,16,61,Liverpool,True,Liverpool,1:14,False,2,2
378688,7,Touch,[],257899,"[{'y': 85, 'x': 39}, {'y': 90, 'x': 59}]",2499943,Others on the ball,1612,1H,76.579616,...,45,28,45,Liverpool,None,Liverpool,1:16,False,2,2
378689,8,Simple pass,[{'id': 1802}],257899,"[{'y': 90, 'x': 59}, {'y': 94, 'x': 68}]",2499943,Pass,1612,1H,78.365139,...,46,58,46,Liverpool,False,Turnover,1:18,False,2,2
378690,8,Simple pass,[{'id': 1802}],245364,"[{'y': 6, 'x': 32}, {'y': 16, 'x': 35}]",2499943,Pass,1625,1H,80.228692,...,53,85,53,Manchester City,False,Turnover,1:20,False,2,2
378691,1,Ground attacking duel,"[{'id': 701}, {'id': 1802}]",120353,"[{'y': 84, 'x': 65}, {'y': 93, 'x': 68}]",2499943,Duel,1612,1H,80.435745,...,43,70,43,Liverpool,False,Turnover,1:20,True,3,3
378692,1,Ground defending duel,"[{'id': 703}, {'id': 1801}]",0,"[{'y': 16, 'x': 35}, {'y': 7, 'x': 32}]",2499943,Duel,1625,1H,80.435745,...,34,33,34,Manchester City,True,Manchester City,1:20,False,3,3
378693,8,Simple pass,[{'id': 1801}],8464,"[{'y': 7, 'x': 32}, {'y': 7, 'x': 36}]",2499943,Pass,1625,1H,80.906113,...,44,23,44,Manchester City,True,Manchester City,1:20,False,3,3
378694,8,Simple pass,[{'id': 1801}],14808,"[{'y': 7, 'x': 36}, {'y': 5, 'x': 33}]",2499943,Pass,1625,1H,81.995261,...,34,45,34,Manchester City,True,Manchester City,1:21,False,3,3
378695,8,Simple pass,[{'id': 1802}],245364,"[{'y': 5, 'x': 33}, {'y': 19, 'x': 37}]",2499943,Pass,1625,1H,83.659604,...,35,26,35,Manchester City,False,Turnover,1:23,False,3,3
378696,7,Touch,[{'id': 1401}],120353,"[{'y': 81, 'x': 63}, {'y': 100, 'x': 71}]",2499943,Others on the ball,1612,1H,85.185313,...,10,55,10,Liverpool,None,Turnover,1:25,False,3,3
378697,5,Ball out of the field,[],0,"[{'y': 0, 'x': 29}, {'y': 100, 'x': 100}]",2499943,Interruption,1625,1H,88.506049,...,50,41,50,Manchester City,None,Turnover,1:28,True,4,4
378698,3,Throw in,[{'id': 1801}],8464,"[{'y': 0, 'x': 25}, {'y': 11, 'x': 48}]",2499943,Free Kick,1625,1H,95.663988,...,70,59,50,Manchester City,True,Manchester City,1:35,False,4,4
378699,1,Ground loose ball duel,"[{'id': 703}, {'id': 1801}]",14870,"[{'y': 89, 'x': 52}, {'y': 84, 'x': 55}]",2499943,Duel,1612,1H,97.604385,...,30,44,30,Liverpool,True,Liverpool,1:37,False,4,4
378700,1,Ground loose ball duel,"[{'id': 701}, {'id': 1802}]",0,"[{'y': 11, 'x': 48}, {'y': 16, 'x': 45}]",2499943,Duel,1625,1H,97.604385,...,28,37,28,Manchester City,False,Liverpool,1:37,False,4,4
378701,7,Clearance,[{'id': 1802}],14870,"[{'y': 84, 'x': 55}, {'y': 100, 'x': 80}]",2499943,Others on the ball,1612,1H,99.929322,...,30,15,30,Liverpool,False,Turnover,1:39,False,4,4
378702,5,Ball out of the field,[],0,"[{'y': 0, 'x': 20}, {'y': 100, 'x': 100}]",2499943,Interruption,1625,1H,100.471442,...,48,55,48,Manchester City,None,Turnover,1:40,True,5,5
378703,3,Throw in,[{'id': 1801}],8464,"[{'y': 0, 'x': 27}, {'y': 5, 'x': 32}]",2499943,Free Kick,1625,1H,103.761023,...,33,50,33,Manchester City,True,Manchester City,1:43,False,5,5
378704,8,Simple pass,[{'id': 1801}],105339,"[{'y': 5, 'x': 32}, {'y': 6, 'x': 36}]",2499943,Pass,1625,1H,104.950202,...,65,59,65,Manchester City,True,Manchester City,1:44,False,5,5
378705,1,Ground attacking duel,"[{'id': 702}, {'id': 1801}]",8464,"[{'y': 6, 'x': 36}, {'y': 0, 'x': 30}]",2499943,Duel,1625,1H,106.157738,...,86,59,86,Manchester City,True,Manchester City,1:46,False,5,5
378706,1,Ground defending duel,"[{'id': 702}, {'id': 1801}]",15808,"[{'y': 94, 'x': 64}, {'y': 100, 'x': 70}]",2499943,Duel,1612,1H,106.825098,...,85,28,15,Liverpool,True,Liverpool,1:46,False,5,5
378707,5,Ball out of the field,[],0,"[{'y': 0, 'x': 20}, {'y': 100, 'x': 100}]",2499943,Interruption,1625,1H,109.199100,...,18,72,85,Manchester City,None,Liverpool,1:49,False,5,5
378708,3,Throw in,[{'id': 1802}],15808,"[{'y': 100, 'x': 70}, {'y': 82, 'x': 74}]",2499943,Free Kick,1612,1H,110.722273,...,82,45,82,Liverpool,False,Liverpool,1:50,False,5,5
378709,1,Ground attacking duel,"[{'id': 701}, {'id': 1802}]",105339,"[{'y': 18, 'x': 26}, {'y': 21, 'x': 24}]",2499943,Duel,1625,1H,112.153716,...,0,54,14,Manchester City,False,Liverpool,1:52,False,5,5

In [68]:
cols = ['p', 'phase_num', 'new_phase', 'eventName', 'subEventName', 'team', 'successful_action', 'possession', 'time']

In [69]:
match[cols].to_csv("match.csv")

In [70]:
match.head(25)

,eventId,subEventName,tags,playerId,positions,matchId,eventName,teamId,matchPeriod,eventSec,...,pos_orig_x,pos_dest_y,pos_dest_x,team,successful_action,possession,time,new_phase,phase_num,p
378660,8,Simple pass,[{'id': 1801}],15808,"[{'y': 49, 'x': 49}, {'y': 41, 'x': 31}]",2499943,Pass,1612,1H,2.528085,...,68,16,35,Liverpool,True,Liverpool,0:2,False,0,0
378661,8,Simple pass,[{'id': 1801}],25393,"[{'y': 41, 'x': 31}, {'y': 70, 'x': 34}]",2499943,Pass,1612,1H,6.517082,...,32,7,32,Liverpool,True,Liverpool,0:6,False,0,0
378662,8,Simple pass,[{'id': 1801}],14870,"[{'y': 70, 'x': 34}, {'y': 41, 'x': 28}]",2499943,Pass,1612,1H,10.732865,...,36,7,36,Liverpool,True,Liverpool,0:10,False,0,0
378663,8,Simple pass,[{'id': 1801}],25393,"[{'y': 41, 'x': 28}, {'y': 50, 'x': 7}]",2499943,Pass,1612,1H,14.110714,...,33,5,33,Liverpool,True,Liverpool,0:14,False,0,0
378664,8,Launch,[{'id': 1802}],15175,"[{'y': 50, 'x': 7}, {'y': 9, 'x': 61}]",2499943,Pass,1612,1H,16.587550,...,37,81,63,Liverpool,False,Turnover,0:16,False,0,0
378665,6,NaN,[],25747,"[{'y': 9, 'x': 61}, {'y': 0, 'x': 0}]",2499943,Offside,1612,1H,19.464496,...,71,0,29,Liverpool,None,Turnover,0:19,True,1,1
378666,3,Free Kick,[{'id': 1801}],8277,"[{'y': 89, 'x': 35}, {'y': 74, 'x': 18}]",2499943,Free Kick,1625,1H,35.997091,...,100,0,25,Manchester City,True,Manchester City,0:35,False,1,1
378667,8,Simple pass,[{'id': 1801}],9380,"[{'y': 74, 'x': 18}, {'y': 45, 'x': 12}]",2499943,Pass,1625,1H,38.497027,...,48,89,52,Manchester City,True,Manchester City,0:38,False,1,1
378668,8,Simple pass,[{'id': 1801}],71654,"[{'y': 45, 'x': 12}, {'y': 25, 'x': 14}]",2499943,Pass,1625,1H,41.991763,...,55,11,48,Manchester City,True,Manchester City,0:41,False,1,1
378669,8,Simple pass,[{'id': 1801}],70086,"[{'y': 25, 'x': 14}, {'y': 5, 'x': 12}]",2499943,Pass,1625,1H,43.942339,...,45,84,55,Manchester City,True,Manchester City,0:43,False,1,1
378670,8,Simple pass,[{'id': 1801}],8464,"[{'y': 5, 'x': 12}, {'y': 4, 'x': 28}]",2499943,Pass,1625,1H,46.020291,...,80,0,20,Manchester City,True,Manchester City,0:46,False,1,1
378671,8,Simple pass,[{'id': 1801}],14808,"[{'y': 4, 'x': 28}, {'y': 13, 'x': 28}]",2499943,Pass,1625,1H,47.234505,...,100,0,27,Manchester City,True,Manchester City,0:47,False,1,1
378672,8,Simple pass,[{'id': 1802}],105339,"[{'y': 13, 'x': 28}, {'y': 30, 'x': 36}]",2499943,Pass,1625,1H,48.350557,...,32,5,32,Manchester City,False,Turnover,0:48,False,1,1
378673,7,Touch,[{'id': 1401}],18550,"[{'y': 70, 'x': 64}, {'y': 97, 'x': 69}]",2499943,Others on the ball,1612,1H,49.972329,...,36,6,36,Liverpool,None,Turnover,0:49,True,2,2
378674,8,Simple pass,[{'id': 1801}],14808,"[{'y': 3, 'x': 31}, {'y': 13, 'x': 65}]",2499943,Pass,1625,1H,51.130060,...,30,94,64,Manchester City,True,Manchester City,0:51,False,2,2
378675,1,Ground attacking duel,"[{'id': 701}, {'id': 1802}]",8464,"[{'y': 13, 'x': 65}, {'y': 19, 'x': 68}]",2499943,Duel,1625,1H,53.703886,...,70,0,20,Manchester City,False,Manchester City,0:53,False,2,2
378676,1,Ground defending duel,"[{'id': 703}, {'id': 1801}]",18550,"[{'y': 87, 'x': 35}, {'y': 81, 'x': 32}]",2499943,Duel,1612,1H,54.352695,...,100,100,70,Liverpool,True,Liverpool,0:54,False,2,2
378677,8,Simple pass,[{'id': 1801}],18550,"[{'y': 81, 'x': 32}, {'y': 60, 'x': 28}]",2499943,Pass,1612,1H,56.225691,...,74,18,26,Liverpool,True,Liverpool,0:56,False,2,2
378678,8,Simple pass,[{'id': 1801}],14870,"[{'y': 60, 'x': 28}, {'y': 78, 'x': 37}]",2499943,Pass,1612,1H,56.629731,...,24,82,74,Liverpool,True,Liverpool,0:56,False,2,2
378679,8,Simple pass,[{'id': 1801}],7868,"[{'y': 78, 'x': 37}, {'y': 51, 'x': 30}]",2499943,Pass,1612,1H,58.155702,...,76,79,76,Liverpool,True,Liverpool,0:58,False,2,2
378680,8,Simple pass,[{'id': 1801}],116,"[{'y': 51, 'x': 30}, {'y': 5, 'x': 30}]",2499943,Pass,1612,1H,60.849474,...,66,21,24,Liverpool,True,Liverpool,1:0,False,2,2
378681,8,Simple pass,[{'id': 1801}],222220,"[{'y': 5, 'x': 30}, {'y': 11, 'x': 41}]",2499943,Pass,1612,1H,64.257705,...,34,46,66,Liverpool,True,Liverpool,1:4,False,2,2
378682,1,Ground defending duel,"[{'id': 702}, {'id': 1801}]",38021,"[{'y': 89, 'x': 59}, {'y': 92, 'x': 62}]",2499943,Duel,1625,1H,66.280622,...,57,66,57,Manchester City,True,Manchester City,1:6,False,2,2
378683,1,Ground attacking duel,"[{'id': 702}, {'id': 1801}]",25747,"[{'y': 11, 'x': 41}, {'y': 8, 'x': 38}]",2499943,Duel,1612,1H,66.711185,...,46,27,46,Liverpool,True,Liverpool,1:6,False,2,2
378684,8,Simple pass,[{'id': 1801}],25747,"[{'y': 8, 'x': 38}, {'y': 8, 'x': 34}]",2499943,Pass,1612,1H,67.798891,...,74,7,74,Liverpool,True,Liverpool,1:7,False,2,2