In [1]:
import matplotlib.pyplot as plt
import numpy as np
import os
import pandas as pd
from functools import reduce

from utils import *
import graphing

In [2]:
events = pd.read_csv("datasets/events_England.csv")
teams = pd.read_csv("datasets/teams.csv")

In [3]:
teams.index = teams.wyId

In [4]:
match = events[events.matchId==2499719]
match.shape

(1768, 17)

In [5]:
match.iloc[640].id

177959853

In [6]:
1.16**(1/6)

1.0250451572972676

In [7]:
match[~(match.tags.str.contains("1801") | match.tags.str.contains("1802"))]

,eventId,subEventName,tags,playerId,positions,matchId,eventName,teamId,matchPeriod,eventSec,subEventId,id,tagsList,pos_orig_y,pos_orig_x,pos_dest_y,pos_dest_x
35,2,Foul,[],8488,"[{'y': 48, 'x': 36}, {'y': 56, 'x': 36}]",2499719,Foul,1631,1H,54.366200,20.0,177959219,NaN,48,36,56,36
51,7,Touch,[{'id': 1401}],8013,"[{'y': 8, 'x': 80}, {'y': 28, 'x': 92}]",2499719,Others on the ball,1631,1H,149.682130,72.0,177959233,[1401],8,80,28,92
52,7,Touch,[],12829,"[{'y': 28, 'x': 92}, {'y': 27, 'x': 89}]",2499719,Others on the ball,1631,1H,151.867290,72.0,177959238,NaN,28,92,27,89
58,5,Ball out of the field,[],0,"[{'y': 0, 'x': 96}, {'y': 100, 'x': 100}]",2499719,Interruption,1631,1H,157.045503,50.0,177959242,NaN,0,96,100,100
63,5,Ball out of the field,[],0,"[{'y': 38, 'x': 100}, {'y': 100, 'x': 100}]",2499719,Interruption,1631,1H,184.100223,50.0,177959251,NaN,38,100,100,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1753,5,Ball out of the field,[],0,"[{'y': 100, 'x': 68}, {'y': 100, 'x': 100}]",2499719,Interruption,1631,2H,2906.739121,50.0,177961031,NaN,100,68,100,100
1757,2,Foul,[{'id': 1702}],8488,"[{'y': 87, 'x': 46}, {'y': 70, 'x': 38}]",2499719,Foul,1631,2H,2929.793781,20.0,177961047,[1702],87,46,70,38
1761,7,Touch,[{'id': 1401}],7870,"[{'y': 32, 'x': 70}, {'y': 32, 'x': 89}]",2499719,Others on the ball,1609,2H,2988.398325,72.0,177961034,[1401],32,70,32,89
1766,5,Ball out of the field,[],0,"[{'y': 48, 'x': 3}, {'y': 100, 'x': 100}]",2499719,Interruption,1631,2H,2998.963701,50.0,177961041,NaN,48,3,100,100
1767,3,Goal kick,[],8480,"[{'y': 100, 'x': 100}, {'y': 100, 'x': 100}]",2499719,Free Kick,1631,2H,3006.647279,34.0,177961042,NaN,100,100,100,100

In [8]:
match[match.eventName=="Pass" & match.]

SyntaxError: invalid syntax (<ipython-input-8-bb90ebc11c5a>, line 1)

In [11]:
names = teams.name.to_dict()

In [12]:
match["team"] = match.teamId.map(names)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [79]:
tags_na = match.tagsList.isna()
match.loc[tags_na, "tagsList"] = "[]"

In [81]:
match['success'] = None
success = match.tagsList.str.contains("1801")
fail = match.tagsList.str.contains("1802")
match.loc[success, 'success'] = True
match.loc[fail, 'success'] = False

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [82]:
match.loc[:,"possession"] = None
match['turnover'] = False
match['new_phase'] = False

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [83]:
successful_pass.values

array([ True,  True,  True, ..., False, False, False])

In [84]:
match.loc[successful_pass.values, 'possession']

0       None
1       None
2       None
3       None
4       None
        ...
1739    None
1740    None
1759    None
1762    None
1764    None
Name: possession, Length: 679, dtype: object

In [85]:
successful_pass = (match.eventName == "Pass") & (match.success == True)
match.loc[successful_pass, 'possession'] = match[successful_pass].team

In [86]:
unsuccessful_pass = (match.eventName == "Pass") & (match.success == False)
match.loc[unsuccessful_pass, 'possession'] ="Turnover"
match.loc[unsuccessful_pass, 'turnover'] = True
match.loc[unsuccessful_pass, 'new_phase'] = True

In [91]:
cols = ['eventName', 'subEventName',
       'tagsList', 'team', 'success', 'possession', 'turnover', 'new_phase']

In [88]:
match.columns

Index(['eventId', 'subEventName', 'tags', 'playerId', 'positions', 'matchId',
       'eventName', 'teamId', 'matchPeriod', 'eventSec', 'subEventId', 'id',
       'tagsList', 'pos_orig_y', 'pos_orig_x', 'pos_dest_y', 'pos_dest_x',
       'team', 'success', 'posession', 'possession', 'turnover', 'new_phase'],
      dtype='object')

In [92]:
match[cols].to_csv("match.csv")

In [90]:
match.head(25)

,eventId,subEventName,tags,playerId,positions,matchId,eventName,teamId,matchPeriod,eventSec,...,pos_orig_y,pos_orig_x,pos_dest_y,pos_dest_x,team,success,posession,possession,turnover,new_phase
0,8,Simple pass,[{'id': 1801}],25413,"[{'y': 49, 'x': 49}, {'y': 78, 'x': 31}]",2499719,Pass,1609,1H,2.758649,...,49,49,78,31,Arsenal,True,None,Arsenal,False,False
1,8,High pass,[{'id': 1801}],370224,"[{'y': 78, 'x': 31}, {'y': 75, 'x': 51}]",2499719,Pass,1609,1H,4.946850,...,78,31,75,51,Arsenal,True,None,Arsenal,False,False
2,8,Head pass,[{'id': 1801}],3319,"[{'y': 75, 'x': 51}, {'y': 71, 'x': 35}]",2499719,Pass,1609,1H,6.542188,...,75,51,71,35,Arsenal,True,None,Arsenal,False,False
3,8,Head pass,[{'id': 1801}],120339,"[{'y': 71, 'x': 35}, {'y': 95, 'x': 41}]",2499719,Pass,1609,1H,8.143395,...,71,35,95,41,Arsenal,True,None,Arsenal,False,False
4,8,Simple pass,[{'id': 1801}],167145,"[{'y': 95, 'x': 41}, {'y': 88, 'x': 72}]",2499719,Pass,1609,1H,10.302366,...,95,41,88,72,Arsenal,True,None,Arsenal,False,False
5,8,Simple pass,[{'id': 1802}],3319,"[{'y': 88, 'x': 72}, {'y': 75, 'x': 77}]",2499719,Pass,1609,1H,12.548934,...,88,72,75,77,Arsenal,False,None,Turnover,True,True
6,8,Head pass,[{'id': 1801}],8653,"[{'y': 25, 'x': 23}, {'y': 15, 'x': 39}]",2499719,Pass,1631,1H,13.961228,...,25,23,15,39,Leicester City,True,None,Leicester City,False,False
7,1,Air duel,"[{'id': 701}, {'id': 1802}]",8013,"[{'y': 15, 'x': 39}, {'y': 20, 'x': 33}]",2499719,Duel,1631,1H,14.765321,...,15,39,20,33,Leicester City,False,None,None,False,False
8,1,Air duel,"[{'id': 703}, {'id': 1801}]",0,"[{'y': 85, 'x': 61}, {'y': 80, 'x': 67}]",2499719,Duel,1609,1H,14.765321,...,85,61,80,67,Arsenal,True,None,None,False,False
9,8,Head pass,"[{'id': 1401}, {'id': 1801}]",167145,"[{'y': 80, 'x': 67}, {'y': 61, 'x': 59}]",2499719,Pass,1609,1H,15.320341,...,80,67,61,59,Arsenal,True,None,Arsenal,False,False
10,8,Head pass,[{'id': 1801}],49876,"[{'y': 61, 'x': 59}, {'y': 45, 'x': 45}]",2499719,Pass,1609,1H,18.051875,...,61,59,45,45,Arsenal,True,None,Arsenal,False,False
11,8,High pass,[{'id': 1801}],14869,"[{'y': 45, 'x': 45}, {'y': 54, 'x': 71}]",2499719,Pass,1609,1H,20.426527,...,45,45,54,71,Arsenal,True,None,Arsenal,False,False
12,1,Air duel,"[{'id': 703}, {'id': 1801}]",8653,"[{'y': 46, 'x': 29}, {'y': 41, 'x': 50}]",2499719,Duel,1631,1H,21.878309,...,46,29,41,50,Leicester City,True,None,None,False,False
13,1,Air duel,"[{'id': 701}, {'id': 1802}]",25413,"[{'y': 54, 'x': 71}, {'y': 59, 'x': 50}]",2499719,Duel,1609,1H,22.551816,...,54,71,59,50,Arsenal,False,None,None,False,False
14,8,High pass,[{'id': 1802}],3560,"[{'y': 59, 'x': 50}, {'y': 69, 'x': 76}]",2499719,Pass,1609,1H,24.588310,...,59,50,69,76,Arsenal,False,None,Turnover,True,True
15,8,Head pass,[{'id': 1801}],8653,"[{'y': 31, 'x': 24}, {'y': 15, 'x': 42}]",2499719,Pass,1631,1H,25.904249,...,31,24,15,42,Leicester City,True,None,Leicester City,False,False
16,8,Head pass,[{'id': 1801}],8013,"[{'y': 15, 'x': 42}, {'y': 26, 'x': 29}]",2499719,Pass,1631,1H,27.527696,...,15,42,26,29,Leicester City,True,None,Leicester City,False,False
17,8,Simple pass,[{'id': 1801}],265366,"[{'y': 26, 'x': 29}, {'y': 8, 'x': 37}]",2499719,Pass,1631,1H,29.980898,...,26,29,8,37,Leicester City,True,None,Leicester City,False,False
18,8,Simple pass,[{'id': 1801}],8013,"[{'y': 8, 'x': 37}, {'y': 5, 'x': 23}]",2499719,Pass,1631,1H,31.163870,...,8,37,5,23,Leicester City,True,None,Leicester City,False,False
19,8,High pass,[{'id': 1802}],14853,"[{'y': 5, 'x': 23}, {'y': 19, 'x': 63}]",2499719,Pass,1631,1H,32.805618,...,5,23,19,63,Leicester City,False,None,Turnover,True,True
20,8,Head pass,[{'id': 1802}],370224,"[{'y': 81, 'x': 37}, {'y': 95, 'x': 45}]",2499719,Pass,1609,1H,35.685082,...,81,37,95,45,Arsenal,False,None,Turnover,True,True
21,8,Head pass,[{'id': 1801}],14763,"[{'y': 5, 'x': 55}, {'y': 22, 'x': 67}]",2499719,Pass,1631,1H,36.661264,...,5,55,22,67,Leicester City,True,None,Leicester City,False,False
22,1,Ground loose ball duel,"[{'id': 703}, {'id': 1801}]",12829,"[{'y': 22, 'x': 67}, {'y': 15, 'x': 71}]",2499719,Duel,1631,1H,38.191874,...,22,67,15,71,Leicester City,True,None,None,False,False
23,1,Ground loose ball duel,"[{'id': 701}, {'id': 1802}]",0,"[{'y': 78, 'x': 33}, {'y': 85, 'x': 29}]",2499719,Duel,1609,1H,38.191874,...,78,33,85,29,Arsenal,False,None,None,False,False
24,8,Smart pass,"[{'id': 901}, {'id': 1802}]",14763,"[{'y': 15, 'x': 71}, {'y': 26, 'x': 81}]",2499719,Pass,1631,1H,39.940109,...,15,71,26,81,Leicester City,False,None,Turnover,True,True